body {
    background-color: #dde2e3;
  }
  
  .nbrand {
    font-family: 'Satisfy', cursive;
    font-size: 20px;
  }
  
  .title {
    font-family: 'Special Elite', cursive;
  }
  
  .caption {
    font-family: 'Fugaz One', cursive;
    font-weight: lighter;
  }
  
  .comment {
    list-style-type: none;
  }
  
  .comment-form input {
    border: 1px solid grey;
    background-color: #dde2e3;
  }
  
  .list-deco>ul>li>a {
    color: black;
    text-decoration: none;
  }
  
  .list-deco>ul>li>a:hover {
    color: orangered;
    text-decoration: none;
  }
  
  .hor {
    width: 100%;
    border: 0.7px solid black;
  }
  
  .pl-3 {
    color: black;
    text-decoration: none;
  }
  
  .pl-3:hover {
    color: crimson;
    text-decoration: none;
  }